---
import FallingText from "@components/animations/FallingText/FallingText";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="404 - Page Not Found">
    <div class="h-screen flex flex-col items-center justify-center px-4">
        <div class="text-center w-full h-3/4">
            <FallingText
                client:load
                text="404 - Page Not Found"
                highlightWords={["404"]}
                trigger="click"
                gravity={0.2}
                fontSize="3rem"
                mouseConstraintStiffness={0.2}
            />
        </div>
        <a
            href="/"
            class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition-colors duration-300"
        >
            <Icon name="mdi:home" class="w-5 h-5 mr-2" />
            ホームに戻る
        </a>
    </div>
</BaseLayout>
