---
title: "LiverHawk Profile"
import Introduce from "../components/Introduce.astro"
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
	<h1 class="text-3xl">Index page</h1>
	<Introduce />
</BaseLayout>
