---
import PersonalCard from "./personal/PersonalCard.astro"
---

<div>
    <h1>Personal Profile Component</h1>
    
    <p>Example usage:</p>
    <div class="m-10 p-10 border-2 border-gray-300 rounded-lg">
        <PersonalCard />
    </div>
</div>