---
const { frontmatter, title } = Astro.props;
import "../styles/global.css";
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title || frontmatter.title}</title>
    </head>
    <body class="px-0 sm:px-2 lg:px-3 xl:px-4 bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
        <slot />
        <footer class="text-center text-sm text-gray-500 dark:text-gray-400 pb-12">
            <p>© 2025 LiverHawk. All rights reserved.</p>
        </footer>
    </body>
</html>